# Dependencies
node_modules/

# Temp
%SystemDrive%/
datasource.xlsx
source_data.xlsx
*.py
data_preview.json
datasource_preview.json

# Backup
data_old.json
xlsx_extracted/

# System
.DS_Store
Thumbs.db
desktop.ini
